<div class="collectionComment">
<h5>
  <%= comment.commenter %>
</h5>

<p>
  <%= comment.body %>
</p>

<p class="deleteComment">
  <%= link_to 'Удалить', [comment.collection, comment], data: { turbo_stream: false, turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</p>
</div>