<% content_for :title, "Editing selected tag" %>

<h1>Editing selected tag</h1>

<%= render "form", selected_tag: @selected_tag %>

<br>

<div>
  <%= link_to "Show this selected tag", @selected_tag %> |
  <%= link_to "Back to selected tags", selected_tags_path %>
</div>
